/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
}


/* VARIABLES */

:root {
    --purple: hsl(263, 55%, 52%);
    --purple-light: hsl(260, 100%, 95%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --body: #f5f5f5;
    --radius: 10px;
}


/* BODY*/


/* GRID DESKTOP */


/* GRID POSITIONS */


/* ALIGNEMENTS */


/* BASE ITEM */


/* BACKGROUND */


/* TYPOGRAPHY */


/* IMAGES (desktop) */