/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}


/* VARIABLES */

:root {
    --purple-500: hsl(263, 55%, 52%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-50: hsl(260, 100%, 95%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --body: #f5f5f5;
    --radius: 10px;
}


/* BODY*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--grey-100);
}


/* GRID DESKTOP */

.grid {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 20em);
    grid-auto-rows: 10px;
    gap: 25px;
    border-radius: var(--radius);
}


/* GRID POSITIONS */

.grid>div:not(.item3) {
    grid-row: span 10;
}

.item3 {
    grid-row: span 20;
    border-radius: var(--radius);
}

.item1 {
    grid-column: 1/3;
    /* Commence au début de la ligne 1 et finit à la fin de la ligne 2*/
}

.item5 {
    grid-column: 2 /4;
    /* Commence au début de la colonne 2 et fini à la fin de la colonne 3*/
}


/* BASE ITEM */

.grid>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    border-radius: var(--radius);
}


/* ALIGNEMENTS */

.identity {
    display: flex;
}


/* BACKGROUND */

.item1 {
    background-color: var(--purple-500);
}

.item2 {
    background-color: var(--grey-500);
}

.item3,
.item4 {
    background-color: var(--white);
}

.item5 {
    background-color: var(--black);
}


/* TYPOGRAPHY */

.item1,
.item2,
.item5 {
    color: var(--white);
}


/* IMAGES (desktop) */

img {
    padding-right: 20px;
}