/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
}


/* VARIABLES */

:root {
    --purple-500: hsl(263, 55%, 52%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-50: hsl(260, 100%, 95%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --body: #f5f5f5;
    --radius: 10px;
}


/* BODY*/


/* GRID DESKTOP */


/* GRID POSITIONS */


/* ALIGNEMENTS */


/* BASE ITEM */


/* BACKGROUND */


/* TYPOGRAPHY */


/* IMAGES (desktop) */