/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}


/* VARIABLES */

:root {
    --purple-500: hsl(263, 55%, 52%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-50: hsl(260, 100%, 95%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --body: #f5f5f5;
    --radius: 10px;
}


/* BODY*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--grey-100);
}


/* GRID LAYOUT */

.grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    /* Espace entre chaque item de la grid*/
    border-radius: var(--radius);
}


/* ITEM STYLING */

.grid>div {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 24px 32px;
    /* Espace autour des éléments*/
    border-radius: var(--radius);
    gap: 20px;
    /* Espace entre les éléments qui sont dans chaque item*/
}


/* GRID POSITIONS */

.item1 {
    grid-column: 1/3;
    /* Commence au début de la ligne 1 et finit à la fin de la ligne 2*/
}

.item2 {
    grid-column: 3/4;
}

.item3 {
    grid-column: 4 / 5;
    grid-row: span 2;
    /* Elle prend 2 lignes*/
}

.item4 {
    grid-column: 1/2;
}

.item5 {
    grid-column: 2 /4;
    /* Commence au début de la colonne 2 et fini à la fin de la colonne 3*/
}


/* SPECIFIC ALIGNEMENTS */

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.identity {
    display: flex;
    align-items: center;
    gap: 15px;
}


/* TYPOGRAPHY */

.identity p {
    line-height: 1.5;
}

.item1,
.item2,
.item5 {
    color: var(--grey-100);
}

.item3,
.item4 {
    color: var(--grey-500);
}

.content-title p {
    font-size: 1.2rem;
    font-weight: 600;
}

blockquote {
    font-size: 0.8125rem;
    /* 13px */
    line-height: 1.4;
}

.identity .name-style {
    font-size: 0.85rem;
    /* 13px */
    line-height: 1.4;
    font-weight: 500;
}

.identity p {
    font-size: 0.8125rem;
    /* Statut un peu plus petit */
    line-height: 1.2;
}

span {
    font-size: 0.9rem;
}


/* IMAGES (desktop) */

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}


/* BACKGROUND */

.item1 {
    background-color: var(--purple-500);
}

.item2 {
    background-color: var(--grey-500);
}

.item3,
.item4 {
    background-color: var(--white);
}

.item5 {
    background-color: var(--dark-blue);
}


/* RESPONSIVE */

@media (max-width:900px) {
    body {
        padding: 20px;
    }
    .grid>div {
        grid-column: 1;
        grid-row: auto;
    }
    .grid {
        max-width: 600px;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    /* ORDER MOBILE */
    .item3 {
        order: 5;
    }
    .item4 {
        order: 3;
    }
    .item5 {
        order: 4;
    }
}


/* TITRE H1 CACHER*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}